<div class="nav__container">
    <nav class="right__menu__panel">
        <ul class="nav__links">
            <li class="nav__logo">Sabur Sanzhar</li>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Записаться на прием</a></li>
            <li><a href="#">Консультация с врачем</a></li>
            <li><a href="#">Блог</a></li>
        </ul>
    </nav>
    <nav class="left__menu__panel">
        <ul class="nav__links">
            <li><a href="#">Войти</a></li>
            <li><a href="#">Зарегистрироваться</a></li>
        </ul>
    </nav>
</div>
